<p id="notice"><%= notice %></p>
<div class="">
  <div class="section">

    <div class="row">
      <div class="col s12 m8 ">
        <h3 class="header"><%= @post.title %></h3>
        <div id="conteudo"><%= @post.body.html_safe %></div>

      </div>
      <div class="col s12 m4">
        <h3 class="header">Notícias</h3>
        <p>lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
          lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
          lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
          lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
          lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
          lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
          lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
          lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
          lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
          lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
          lo"Embora o doenças cardíacas não fatais sejam menos prováveis em pessoas que bebem, esse benefício é prejudicado pelo aumento do risco de outras formas de doenças fatais no coração", explica.

          Os limites de consumo de álcool recomendados em Itália, Portugal e Espanha são quase 50% maiores que os do Reino Unido - nos Estados Unidos, esse índice é quase o dobro no caso de homens. O Brasil não tem recomendação oficial sobre os limites do consumo de álcool.

          Mas Victoria Taylor, nutricionista da Fundação Britânica do Coração, instituição que financiou parte do estudo, diz que esse tipo de recomendação deve ser encarado como um limite e não como um alvo a se alcançar. "O ideal seria beber bem menos que isso", afirma.

          Angela Wood, da Universidade de Cambridge, vai na mesma linha. "A mensagem da pesquisa é a seguinte: se você já bebe álcool, saiba que beber menos pode ajudá-lo a viver mais e diminuir os riscos de desenvolver várias doenças graves".rem
        </p>
      </div>
    </div>

  </div>
</div>

<%= link_to 'Back', posts_path %>
