/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";
 @import "material_icons";


a:hover{
  color: #333;
}
.card-h{
  height: 360px;
}
.sub{
  font-size: 1.6rem;
  line-height: 1.5rem;
}
.sub2{
  font-size: 1.2rem;
  line-height: 1.2rem;
}
 .home{
     margin: 0px 55px;
 }
 .bold{
   font-weight: bold;
 }
.conteudo p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: justify;
    color: #333;
}
.conteudo p img{
    width: 100%;
}
.topo{
    height: 300px;
}
.imagem {
  width: 100%;  
}
.texto-link{
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 25px 20px;
  color: #fff;
  line-height: 20px;
}

#botao{
  display: none;
}

header, main, footer {
    padding-left: 300px;
  }
.card-sub{
  text-align: justify;
}
.link-mais{
  margin-right: 25px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
    #botao{
      display: block;
      color: white;
    }
    .lin:hover{
      background-color: none;
    }
    .home{
      margin: 0px;
    }
   
  }
  
      
      