<!DOCTYPE html>
<html>
  <head>
    <title>Mix Cidades - O Portal onde sua cidade acontece.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  
  <ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
  
        
  </header>
  <div class="home">
    <%= yield %>
  </div>

        <footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">MIX Cidades</h5>
                <p class="grey-text text-lighten-4">O Portal onde sua cidade acontece.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Institucional</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Termos de Uso</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Politica de Privacidade</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Sobre a MIX</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Anuncie na MIX</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contato</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright mixcidades.com.br
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
            
  </body>
</html>
